<!-- Marquee Slider
============================================= -->
<div id="mobile-background" class="hidden-md hidden-lg">
    <a href="#" data-scrollto="#section-about" data-offset="0">
        <img src="assets/slide/mobile-slide.jpg" style="width:100%;height:auto;" alt="{{ mainDoctor }}">
    </a>
</div>

<!-- Slider
============================================= -->
<section id="section-marquee" class="hidden-xxs hidden-xs hidden-sm clearfix">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 main__content">
                    <img src="/assets/slide/slide-text.png" alt="Berlin's Favorite place to Smile Since 2005" class="main__image">
                    <h5 class="main__welcoming">Now Welcoming New Patients</h5>
                    <h4><a href="tel:{{ newPhone }}" class="main__new-patient-number">{{ newPhoneNoBreak }}</a></h4>
                    {% include 'atoms/request-appointment-button.twig' with {
                    classes: "btn main__request-appt"
                    } %}
                    <p class="main__existing-patients">Existing patients call: <a href="tel:{{ existingPhone }}" class="link-no-style main__existing-patients-number">{{ existingPhoneNoBreak }}</a></p>
                </div>
            </div>
        </div>
        {% include 'atoms/down-arrow.twig' %}
    </div>
    <div class="aside">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h5 class="aside__copy">Our approach is centered around each patient’s individual dental needs, with
                        your overall health in mind.</h5>
                </div>
            </div>
        </div>
    </div>
    <img src="/assets/slide/mike-errin-clipped.png" alt="Drs. Michael and Errin DePalma" class="doctor-image">
</section>
